.weather-tile {
  width: 400px;
  min-height: 150px;
  max-height: 200px;
  margin: 10px auto 2px;
}

.city-tile {
  border: 2px coral solid;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  background-color: coral;
  font-family: "Ink Free", sans-serif;
  font-size: 25px;
  font-weight: bold;
  height: 25%;
  text-align: left;
  text-transform: uppercase;
  margin: 0 auto 0;
  border-top-right-radius: 20px;
  box-shadow: 20px 20px 20px 10px gray;
}

.temperature-icon-tile {
  border: 3px coral solid;
  padding: 10px;
  background-color: beige;
  font-family: Verdana, sans-serif;
  font-weight: bold;
  border-bottom-left-radius: 20px;
  box-shadow: 20px 20px 20px 10px gray;
}
.text-middle-page {
  margin: auto;
  width: 40%;
}

.icon-middle-page {
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  padding-top: 15px;
}


